name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Copiar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Ejecutar pruebas
        run: ./gradlew test

      - name: Construir
        run: ./gradlew build