name: CI

on:
  push:
    branches:
      - main
  pull_request:


jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "runner OK"

      - name: Copiar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Ejecutar pruebas
        run: ./gradlew test

      - name: Construir
        run: ./gradlew build