name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Fix gradlew permissions + line endings
        run: |
          chmod +x gradlew
          sed -i 's/\r$//' gradlew

      - name: Build (includes tests)
        run: ./gradlew build --no-daemon --stacktrace --info
